<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="CMSConnectionString" connectionString="Data Source=vpn.techtonicgroup.com;Initial Catalog=mekorma-kentico;Integrated Security=False;User ID=mekorma-kentico;Password=mekormakenticoadmin;Connect Timeout=60" />
    <add name="Crm" connectionString="Server=https://mekorma.mekorma.com/Mekorma/XRMServices/2011/Organization.svc; Domain=MEKORMA; Username=chris; Password=Mguest" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
</configuration>